h1 {
  text-align: center;
  color: #792653;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
h2 {
  text-align: center;
}
.rain {
  text-align: center;
  padding: 0 0 20px 0;
  font-size: 20px;
  font: outline;
}

form {
  padding: 50px;
}
article {
  text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3%;
}
.fa-cloud-showers-heavy {
  color: #495057;
  font-size: 50px;
}
.fa-sun {
  color: yellow;
  font-size: 50px;
}
.fa-cloud {
  color: blue;
  font-size: 50px;
}
.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app {
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
}
.btn-primary {
  background-color: #495057;
  border: #495057;
}
.location {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
strong {
  font-size: 60px;
  margin: 0 5px 0 5px;
  line-height: 1;
  font-weight: 400;
}
.units {
  position: relative;
}
.first {
  margin: 5% 15%;
}
