.weather-forecast h3 {
  color: #495057;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.weather-forecast-temp {
  text-align: center;
}

.description {
  text-align: left;
  font-size: 18px;
  color: #495057;
}
h1 {
  text-align: left;
  color: #792653;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
h2 {
  text-align: left;
  font-size: 18px;
}
.rain {
  text-align: center;
  padding: 0 0 20px 0;
  font-size: 20px;
  font: outline;
}

form {
  padding: 50px 0px 20px 0px;
}
article {
  text-align: center;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3%;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 650px;
}
.weather-app {
  padding: 20px;
  border: 1px;
  border-radius: 10px;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  box-shadow: 5px 2px 0 gainsboro;
}
.btn-primary {
  background-color: #495057;
  border: #495057;
}
.location {
  text-align: center;
}
ul {
  margin-left: -10px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
#temperature {
  font-size: 60px;
  margin: 0 5px 0 5px;
  line-height: 1;
  font-weight: 400;
}

.first {
  margin: 20px 5px 20px 70px;
}
.small {
  text-align: center;
  margin-top: 0;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

#gps {
  background-color: snow;
  box-shadow: 5px 2px 0 tan;
  border-radius: 4px;
  border: none;
  color: #792653;
}
#search {
  background-color: snow;
  box-shadow: 5px 2px 0 tan;
  border-radius: 4px;
  border: none;
  color: #792653;
}
#search:hover {
  background-color: tan;
}
#gps:hover {
  background-color: tan;
}
